.body-edd-assistant-only{
	padding:50px;
}
.edd-testing-assistant-admin-container input[type=number]{
	height:initial;
}

.edd-testing-assistant-admin-container{
	width:100%;
	background: #f5f5f5;
    border: 1px solid #e5e5e5;
    webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-sizing: border-box;
	display:table;
}
.edd-testing-assistant-admin-container *{
	box-sizing: border-box;
}
.edd-testing-assistant-admin-container h2 {
	margin-top:0px;
}
.edd-testing-assistant-current-view{
	display:inline-block;
}
.edd-testing-assistant-hidden-view{
	display:none;
}
.edd-testing-assistant-admin-settings-icon{
	width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.edd-testing-assistant-admin-settings-title{
	display: inline-block;
    vertical-align: middle;
	margin-left: 10px;
}

.edd-testing-assistant-admin-left-side-navigation{
    display: table-cell;
	vertical-align:top;
	min-width:190px;
}
.edd-testing-assistant-admin-left-side-navigation > ul{
	margin:0;
	background-color: #eaeaea;
}
.edd-testing-assistant-admin-left-side-navigation > ul > li > ul{
	background-color: #f1f1f1;
}
.edd-testing-assistant-admin-left-side-navigation ul li {
	display: block;
    color: #444;
    font-size: 12px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.edd-testing-assistant-admin-left-side-navigation ul li button {
	background-color: transparent;
    color: #444;
    text-decoration: none;
	border:none;
	padding: 8px 10px 8px 6px;
	width:100%;
	text-align:left;
	outline: none;
	cursor: pointer;
}
.edd-testing-assistant-admin-left-side-navigation .edd-testing-assistant-admin-left-tab-text{
	margin-left:10px;
	vertical-align:middle;
}
.edd-testing-assistant-admin-left-side-navigation .edd-testing-assistant-current-tab > button{
	box-shadow: inset -5px 0px 0px #00a0d2;
}
.edd-testing-assistant-admin-current-view-container{
	display: table-cell;
	vertical-align: top;
	padding: 20px;
	background-color: #fff;
	border-left: 1px solid #e5e5e5;
	margin-left: -1px;
	min-height: 200px;
	width: 100%;
	z-index: 2;
}

/* Define Tests View */
.edd-testing-assistant-admin-define-tests-view {
	width:100%;
}

/* JSON Helper View */
.edd-testing-assistant-build-scenarios textarea,
.edd-testing-assistant-build-scenarios input[type="text"]{
	width:100%;
}
.edd-testing-assistant-build-scenarios .edd-testing-assistant-multiple-checkboxes-level{
	margin-left:20px;
}
.edd-testing-assistant-build-scenarios .edd-testing-assistant-testing-values,
.edd-testing-assistant-build-scenarios .edd-testing-assistant-add-variant-button{
	margin:5px;
}
.edd-testing-assistant-generate-testing-json-area,
.edd-testing-assistant-scenario-instructions-and-results-area,
.edd-testing-assistant-build-scenarios-container{
	margin-top:50px;
}
.edd-testing-assistant-scenario-instructions{
	margin-top:15px;
}
.edd-testing-assistant-name-of-test-area{
	margin-bottom:15px;
}

/* Define Tests View */
.edd-testing-assistant-build-scenarios-paste-area textarea{
	width:100%;
	height:1000px;
}
.edd-testing-assistant-json-helper-valid{
	border: 2px solid #4BB543;
}
.edd-testing-assistant-json-helper-invalid{
	border: 2px solid #cc0000;
}

/* Run Tests View */
.edd-testing-assistant-admin-run-scenarios-view{
	width:100%;
}
.edd-testing-assistant-admin-settings .edd-testing-assistant-scenario-link{
	margin:5px;
}
.edd-testing-assistant-admin-settings .edd-testing-assistant-scenario-link:first-child{
	margin-left:0px;
}
.edd-testing-assistant-current-scenario-area{
	margin-top:20px;
}
.edd-testing-assistant-settings-values-table{
	display: inline-grid;
	grid-template-columns: auto;
}
.edd-testing-assistant-scenario-setting{
	display:inline-grid;
	grid-template-columns: 270px 1fr;
}
.edd-testing-assistant-scenario-setting:nth-child(odd){
	background-color: #f5f5f5;
}
.edd-testing-assistant-scenario-setting-name{
	padding:5px;
}
.edd-testing-assistant-scenario-setting-value{
	padding:5px;
}
.edd-testing-assistant-current-scenario-title{
	font-size:16px;
}
.edd-testing-assistant-testing-area{
	margin-top:30px;
	background-color: #f5f5f5;
    padding: 10px;
}
.edd-testing-assistant-testing-area,
.edd-testing-assistant-testing-area iframe{
	width:100%;
	height:5000px;
}
.edd-testing-assistant-instruction-area{
	margin-top:10px;
}
.edd-testing-assistant-testing-instructions,
.edd-testing-assistant-testing-expected-results{
	display: inline-block;
    width: 48%;
    background: #f5f5f5;
	padding:10px;
	vertical-align:top;
}
.edd-testing-assistant-testing-instructions{
	margin-right:1%;
}
.edd-testing-assistant-setting-scenario-data{
	display: inline-block;
    margin-top: 15px;
	padding:5px;
	background-color:#fffc9d;
}
.edd-testing-assistant-scenario-data-set{
	display: inline-block;
    margin-top: 15px;
	padding:5px;
	background-color:#d0f8cd;
}
.edd-testing-assistant-scenario-data-not-set{
	display: inline-block;
    margin-top: 15px;
	padding:5px;
	background-color: #cc0000;
}

/* Admin Lightbox */
.edd-testing-assistant-admin-lightbox{
	transition: opacity .1s ease;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity:0;
	z-index: 0;
}
.edd-testing-assistant-admin-lightbox.edd-testing-assistant-lightbox-closed{
	display:none;
}
.edd-testing-assistant-admin-lightbox.edd-testing-assistant-lightbox-open{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity:1;
	z-index: 9999999;
}
.edd-testing-assistant-admin-lightbox-background{
	background-color: rgba(0, 0, 0, 0.6);
	position:relative;
	width: 100%;
    height: 100%;
}
.edd-testing-assistant-admin-lightbox-relative{
	position:relative;
    height: 100%;
}
.edd-testing-assistant-admin-lightbox-absolute{
	position: fixed;
	top: 20%;
	left: calc(50% - 300px);
}
.edd-testing-assistant-admin-lightbox-inner{
	width: 100%;
	max-width: 600px;
	padding: 10px;
	background-color: #ffffff;
}
.edd-testing-assistant-admin-lightbox-title,
.edd-testing-assistant-admin-lightbox-input-description,
.edd-testing-assistant-admin-lightbox-input-description p{
	margin:0px 0px 3px 0px;
}
.edd-testing-assistant-admin-lightbox-input-description *{
	max-width:100%;
}
